# Python 
__pycache__/ 
*.pyc 
*.pyo 
*.pyd 
.Python 
env/ 
venv/ 
*.ipynb_checkpoints/ 
 
# Data 
data/*.txt 
data/*.csv 
*.parquet 
MachineLearningRating_v3.txt 
 
# IDE 
.vscode/ 
.idea/ 
 
# Misc 
*.log 
*.DS_Store 
